* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #343a40;
}
.navbar {
  background-color: #1976d2;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
input {
  margin-bottom: 5px;
  border-radius: 12px !important;
  width: 50px;
}
.profiles p {
  font-weight: 500;
  text-align: center;
}
button,
.btn {
  margin-top: 5px;
  font-weight: 500;
  color: #fff;
}
p {
  font-weight: 500;
}

.content {
  padding: 10px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
li {
  padding: 10px;
  border: 1px solid white;
  width: fit-content;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: 15px;
  margin: auto;
  margin-top: 5px;
  list-style: none;
  text-transform: capitalize;
}
mark {
  font-family: "monospace";
  background-color: #fff;
  font-size: 15px;
}
b {
  font-weight: 500;
}
img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
}
.form {
  display: block;
}
.footer {
  color: #fff;
  font-weight: 500;
}

@media (min-width: 576px) {
  .form {
    display: inline !important;
  }
  input {
    width: 100% !important;
  }
  .btn {
    margin-left: 5px;
  }
  .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
